@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.Gradient-T {
  background-image: linear-gradient(135deg, #ff8c00, #b81c00);
}
.Gradient-V {
  background-image: linear-gradient(180deg, #ff8c00, #b81c00);
}
.Gradient-H {
  background-image: linear-gradient(90deg, #ff8c00, #b81c00);
}
.Gradient-H_hover:hover {
  background-image: linear-gradient(90deg, #ff8c00, #b81c00);
}



.container {
  max-width: 500px;
  margin: 0 auto;
}

.react-calendar {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 16px;
}

.react-calendar__month-view {
  margin-bottom: 16px;
}

.react-calendar__day {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px;
  text-align: center;
}

.react-calendar__day--selected {
  background-color: #000;
  color: #fff;
}
.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Desplazamiento en x, desplazamiento en y, desenfoque, color */
}